* {
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center;
    background-color: whitesmoke;
    padding: 30px;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.box1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:30px ;
    gap: 15px;
}

.box2 {
    border: 2px solid black;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.box2 input {
    width: 40px;
}

.box3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:30px ;
    gap: 15px;
}